<!-- App root element -->
<div id="app">
    <!-- Statusbar overlay -->
    <div class="statusbar"></div>

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <!-- Initial Page, "data-name" contains page name -->
        <div data-name="home" class="page">

            <!-- Top Navbar -->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="title">Awesome App</div>
                </div>
            </div>

            <!-- Toolbar -->
            <div class="toolbar">
                <div class="toolbar-inner">
                    <!-- Toolbar links -->
                    <a routerLink="/" class="link">Home</a>
                    <a routerLink="about" class="link">About</a>
                </div>
            </div>

            <!-- Scrollable page content -->
            <div class="page-content">
                <!-- Routed views go here -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>